.el-dialog {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*height:600px;*/
  max-height: calc(100% - 200px);
  max-width: calc(100% - 30px);

  .el-dialog__header {
    .header-title {
      display: flex;
      align-items: center;
      font-size: 16px;
    }

    border-bottom: 0.5px solid #ccc;

    .svg-container {
      padding: 0;
      width: 25px;
    }
  }
}

.svg-container {
  position: relative;
  padding: 6px 5px 6px 15px;
  color: #008aff;
  vertical-align: middle;
  width: 30px;
  display: inline-block;
}

.svg-container::after {
  position: absolute;
  content: "";
}

.title-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 46px 0;
}

.el-dialog__footer {
  text-align: center;
  border-top: 0.5px solid #ccc;
  padding: 20px;
  .dialog-footer {
    .max_bt_gy,
    .max_bt_df {
      margin: 0 25px;
    }
  }


  
  .el-button--info {
    // margin-left: 55px;
  }
}
// 时间选择器
.my_datePicker{
  width: 190px !important;
  .el-input__prefix{
    left: 82%;
    .el-icon-time{
      font-size: 16px;
      color: #000;
      font-family: "iconfont" !important;
    }
    .el-icon-time:before{
      content: "\e63c" ;
      position: absolute;
      right: 0;
    }
   
  }
  .el-input__inner{
    padding:0 15px  !important;
  }
}
.my_dialog{
  .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
   content: '';
 }
 .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__content:after{
   position: absolute;
   top: 4px;
   right: -12px;
   font-size: 16px;
   content: '*';
   color: #F56C6C;
 }
}
.el-input__icon{
  height: 30px;
}
