@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}





// basicServices > dataDictionary css

// layout css
.x_c{
  display: flex;
  align-items: center;
}
.x_c_sa{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.x_c_sb{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.xy_c{
  display: flex;
  justify-content: center;
  align-items: center;
}


// 
._bule{
  color: #2b9bff;
}
._red{
  color: #fa3a15;
}



@mixin w_h($w,$h){
  min-width: $w;
  height: $h;
}

// input 

.k_input {
  width: 263px;
  height: 30px;
  font-size: 12px;
  .el-input__inner {
    width: 100%;
    height: 100%;
  }
}



// button css 
button,input{
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  background: transparent;
}

@mixin btn_com{
  display: inline-block;
  // min-width: 60px;
  // height: 26px;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}
@mixin btn_color($s,$q){
  @include btn_com();
  background: linear-gradient(0deg, $s, $q, $s );
  box-shadow: inset 0px 0px 1px 0px $s
}


.min_bt_df{
  @include btn_color(#0695e5,#1da6df);
  @include w_h(60px,26px);
}
.min_bt_gy{
  @include btn_color(#69809e,#889eb6);
  @include w_h(60px,26px);
}
.md_bt_df{
  @include btn_color(#0695e5,#1da6df);
  @include w_h(80px,30px);
}
.md_bt_gy{
  @include btn_color(#69809e,#889eb6);
  @include w_h(80px,30px);
}
.max_bt_df{
  @include btn_color(#0695e5,#0EC6EE);
  @include w_h(100px,32px);
  font-size: 14px;
}
.max_bt_gy{
  @include btn_color(#69809e,#889eb6);
  @include w_h(100px,32px);
  font-size: 14px;
}

// table css
.TabelOne{
  background: transparent;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  td, th.is-leaf{
    border-color: #9c9c9c;
  }
  tr{
    th:nth-last-child(2).is-leaf,td:nth-last-child(1){
      border-right:none;
    }
  }
  thead{
    tr{
      &:nth-child(1){
        th.is-leaf{
        background: #e8eff7;
      }
      }
    }
  }
  .table-actived{
    background: #0ff;
  }
  tbody{
    tr{
      // &.actived{
      //   th.is-leaf{
      //     background: #0ff;
      //   }
      // }
      &:nth-last-child(1){
        td{
          border-bottom:none;
        }
      }
    }
  }
  &.el-table::before,&.el-table--border::after, &.el-table--group::after{
    width: 0;
    height: 0;
  }
}
.TabelTwo{
  background: transparent;
  .el-table__header-wrapper{
    background: linear-gradient(0deg, #778EA9, #AABED0), #778EA9;
    box-shadow: 0px 1px 3px 0px rgba(26, 39, 49, 0.4), 0px 0px 7px 0px rgba(127, 151, 183, 0.48);
    border-radius: 5px;
    margin-bottom: 10px;
  }
  thead{
    color: #fff;
    th,tr{
      height: 40px;
      background: transparent;
    }
    th{
      padding: 0;
    }
    tr{
      &:nth-child(1){
        th.is-leaf{
          border: none;
          background: transparent;
        }
      }
    }
  }
  .el-table__body-wrapper{
    background: #FFFFFF;
    box-shadow: 0px 0px 3px 0px #98ABC2;
    border-radius: 5px;
  }
}


// scrollbar css

// mini滚动条样式
.mBar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.mBar::-webkit-scrollbar-thumb {
  background: #ffffffde;
  border-radius: 10px;
}



// dialog
.dLog{
  .el-dialog{
    box-shadow: 0px 1px 9px 0px rgba(128, 143, 159, 0.95);
    border-radius: 5px;
  }
  .el-dialog__header{
    border-bottom: 1px solid #eaeaea;
  }
  .el-dialog__footer{
    border-top: 1px solid #eaeaea;
    padding: 27px 0 32px;
  }
  
  .dialog-footer {
    .max_bt_gy,
    .max_bt_df {
      margin: 0 25px;
    }
  }
  .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before{
    content: '';
  }
  .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__content:after{
    position: absolute;
    top: 4px;
    right: -12px;
    font-size: 16px;
    content: '*';
    color: #F56C6C;
  }
  // 
    .el-dialog__body {
      padding: 30px 100px !important;
    }
    .el-input,.el-select {
      width: 100%;
      .el-input__inner {
        height: 30px;
      }
    }
}


// page
.pageTool{
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #2e2e2e;
  .el-pagination{
    display: flex;
    align-items: center;
    .el-pagination__total{
      color: #2e2e2e;
      font-weight: bold;
    }
    .el-pagination__rightwrapper{
      display: flex;
    }
    button{
      @include w_h(60px,25px);
      line-height: 25px;
      padding:0;
    }
    .bt_actived{
      @include btn_color(#0695e5,#1da6df);
    }
    .bt_df,.btn-prev,.btn-next{
      @include btn_color(#69809e,#889eb6);
    }
    .btn-first{
      margin: 0 15px 0 20px;
    }
    .btn-next{
      margin-left: 15px;
    }
    .el-pager{
      li{
        min-width: 25px;
        height: 25px;
        background: #bbbbbb;
        border-radius: 50%;
        color: #fff;
        padding: 0;
        margin-left: 15px;
        &.active{
          background: #008aff;
        }
      }
    }
    .pg_input{
      width: 30px;
      border: 1px solid #2e2e2e;
      text-align: center;
      border-radius: 2px;
      padding: 2px 0;
      margin: 0 3px;
    }
  }
}