:export {
  menuText: #bfcbd9;
  menuActiveText: #409EFF;
  subMenuActiveText: #f4f4f5;
  menuBg: #304156;
  menuHover: #263445;
  subMenuBg: #1f2d3d;
  subMenuHover: #001528;
  sideBarWidth: 210px;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload input[type="file"] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

.el-dropdown-menu a {
  display: block;
}

.el-range-separator {
  box-sizing: content-box;
}

#app .main-container {
  transition: margin-left .28s;
  margin-left: 210px;
  position: relative;
  padding-top: 50px;
}

#app .sidebar-container {
  transition: width 0.28s;
  width: 210px !important;
  background-color: #304156;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

#app .sidebar-container .horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

#app .sidebar-container .scrollbar-wrapper {
  overflow-x: hidden !important;
}

#app .sidebar-container .el-scrollbar__bar.is-vertical {
  right: 0px;
}

#app .sidebar-container .el-scrollbar {
  height: 100%;
}

#app .sidebar-container.has-logo .el-scrollbar {
  height: calc(100% - 50px);
}

#app .sidebar-container .is-horizontal {
  display: none;
}

#app .sidebar-container a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#app .sidebar-container .svg-icon {
  margin-right: 16px;
}

#app .sidebar-container .sub-el-icon {
  margin-right: 12px;
  margin-left: -2px;
}

#app .sidebar-container .el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}

#app .sidebar-container .submenu-title-noDropdown:hover,
#app .sidebar-container .el-submenu__title:hover {
  background-color: #263445 !important;
}

#app .sidebar-container .is-active > .el-submenu__title {
  color: #f4f4f5 !important;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
#app .sidebar-container .el-submenu .el-menu-item {
  min-width: 210px !important;
  background-color: #1f2d3d !important;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover,
#app .sidebar-container .el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}

#app .hideSidebar .sidebar-container {
  width: 54px !important;
}

#app .hideSidebar .main-container {
  margin-left: 54px;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding: 0 !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 !important;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .sub-el-icon {
  margin-left: 19px;
}

#app .hideSidebar .el-submenu {
  overflow: hidden;
}

#app .hideSidebar .el-submenu > .el-submenu__title {
  padding: 0 !important;
}

#app .hideSidebar .el-submenu > .el-submenu__title .svg-icon {
  margin-left: 20px;
}

#app .hideSidebar .el-submenu > .el-submenu__title .sub-el-icon {
  margin-left: 19px;
}

#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 210px !important;
}

#app .mobile .main-container {
  margin-left: 0px;
}

#app .mobile .sidebar-container {
  transition: transform .28s;
  width: 210px !important;
}

#app .mobile.hideSidebar .sidebar-container {
  pointer-events: none;
  transition-duration: 0.3s;
  transform: translate3d(-210px, 0, 0);
}

#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  transition: none;
}

.el-menu--vertical > .el-menu .svg-icon {
  margin-right: 16px;
}

.el-menu--vertical > .el-menu .sub-el-icon {
  margin-right: 12px;
  margin-left: -2px;
}

.el-menu--vertical .nest-menu .el-submenu > .el-submenu__title:hover,
.el-menu--vertical .el-menu-item:hover {
  background-color: #263445 !important;
}

.el-menu--vertical > .el-menu--popup {
  max-height: 100vh;
  overflow-y: auto;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar {
  width: 6px;
}

.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-thumb {
  background: #99a9bf;
  border-radius: 20px;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.app-container {
  padding: 20px;
}

.x_c {
  display: flex;
  align-items: center;
}

.x_c_sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.x_c_sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.xy_c {
  display: flex;
  justify-content: center;
  align-items: center;
}

._bule {
  color: #2b9bff;
}

._red {
  color: #fa3a15;
}

.k_input {
  width: 263px;
  height: 30px;
  font-size: 12px;
}

.k_input .el-input__inner {
  width: 100%;
  height: 100%;
}

button, input {
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background: transparent;
}

.min_bt_df {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  background: linear-gradient(0deg, #0695e5, #1da6df, #0695e5);
  box-shadow: inset 0px 0px 1px 0px #0695e5;
  min-width: 60px;
  height: 26px;
}

.min_bt_gy {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  background: linear-gradient(0deg, #69809e, #889eb6, #69809e);
  box-shadow: inset 0px 0px 1px 0px #69809e;
  min-width: 60px;
  height: 26px;
}

.md_bt_df {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  background: linear-gradient(0deg, #0695e5, #1da6df, #0695e5);
  box-shadow: inset 0px 0px 1px 0px #0695e5;
  min-width: 80px;
  height: 30px;
}

.md_bt_gy {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  background: linear-gradient(0deg, #69809e, #889eb6, #69809e);
  box-shadow: inset 0px 0px 1px 0px #69809e;
  min-width: 80px;
  height: 30px;
}

.max_bt_df {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  background: linear-gradient(0deg, #0695e5, #0EC6EE, #0695e5);
  box-shadow: inset 0px 0px 1px 0px #0695e5;
  min-width: 100px;
  height: 32px;
  font-size: 14px;
}

.max_bt_gy {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  background: linear-gradient(0deg, #69809e, #889eb6, #69809e);
  box-shadow: inset 0px 0px 1px 0px #69809e;
  min-width: 100px;
  height: 32px;
  font-size: 14px;
}

.TabelOne {
  background: transparent;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
}

.TabelOne td, .TabelOne th.is-leaf {
  border-color: #9c9c9c;
}

.TabelOne tr th:nth-last-child(2).is-leaf, .TabelOne tr td:nth-last-child(1) {
  border-right: none;
}

.TabelOne thead tr:nth-child(1) th.is-leaf {
  background: #e8eff7;
}

.TabelOne .table-actived {
  background: #0ff;
}

.TabelOne tbody tr:nth-last-child(1) td {
  border-bottom: none;
}

.TabelOne.el-table::before, .TabelOne.el-table--border::after, .TabelOne.el-table--group::after {
  width: 0;
  height: 0;
}

.TabelTwo {
  background: transparent;
}

.TabelTwo .el-table__header-wrapper {
  background: linear-gradient(0deg, #778EA9, #AABED0), #778EA9;
  box-shadow: 0px 1px 3px 0px rgba(26, 39, 49, 0.4), 0px 0px 7px 0px rgba(127, 151, 183, 0.48);
  border-radius: 5px;
  margin-bottom: 10px;
}

.TabelTwo thead {
  color: #fff;
}

.TabelTwo thead th, .TabelTwo thead tr {
  height: 40px;
  background: transparent;
}

.TabelTwo thead th {
  padding: 0;
}

.TabelTwo thead tr:nth-child(1) th.is-leaf {
  border: none;
  background: transparent;
}

.TabelTwo .el-table__body-wrapper {
  background: #FFFFFF;
  box-shadow: 0px 0px 3px 0px #98ABC2;
  border-radius: 5px;
}

.mBar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.mBar::-webkit-scrollbar-thumb {
  background: #ffffffde;
  border-radius: 10px;
}

.dLog .el-dialog {
  box-shadow: 0px 1px 9px 0px rgba(128, 143, 159, 0.95);
  border-radius: 5px;
}

.dLog .el-dialog__header {
  border-bottom: 1px solid #eaeaea;
}

.dLog .el-dialog__footer {
  border-top: 1px solid #eaeaea;
  padding: 27px 0 32px;
}

.dLog .dialog-footer .max_bt_gy,
.dLog .dialog-footer .max_bt_df {
  margin: 0 25px;
}

.dLog .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label:before {
  content: '';
}

.dLog .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__content:after {
  position: absolute;
  top: 4px;
  right: -12px;
  font-size: 16px;
  content: '*';
  color: #F56C6C;
}

.dLog .el-dialog__body {
  padding: 30px 100px !important;
}

.dLog .el-input, .dLog .el-select {
  width: 100%;
}

.dLog .el-input .el-input__inner, .dLog .el-select .el-input__inner {
  height: 30px;
}

.pageTool {
  padding: 20px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #2e2e2e;
}

.pageTool .el-pagination {
  display: flex;
  align-items: center;
}

.pageTool .el-pagination .el-pagination__total {
  color: #2e2e2e;
  font-weight: bold;
}

.pageTool .el-pagination .el-pagination__rightwrapper {
  display: flex;
}

.pageTool .el-pagination button {
  min-width: 60px;
  height: 25px;
  line-height: 25px;
  padding: 0;
}

.pageTool .el-pagination .bt_actived {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  background: linear-gradient(0deg, #0695e5, #1da6df, #0695e5);
  box-shadow: inset 0px 0px 1px 0px #0695e5;
}

.pageTool .el-pagination .bt_df, .pageTool .el-pagination .btn-prev, .pageTool .el-pagination .btn-next {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  background: linear-gradient(0deg, #69809e, #889eb6, #69809e);
  box-shadow: inset 0px 0px 1px 0px #69809e;
}

.pageTool .el-pagination .btn-first {
  margin: 0 15px 0 20px;
}

.pageTool .el-pagination .btn-next {
  margin-left: 15px;
}

.pageTool .el-pagination .el-pager li {
  min-width: 25px;
  height: 25px;
  background: #bbbbbb;
  border-radius: 50%;
  color: #fff;
  padding: 0;
  margin-left: 15px;
}

.pageTool .el-pagination .el-pager li.active {
  background: #008aff;
}

.pageTool .el-pagination .pg_input {
  width: 30px;
  border: 1px solid #2e2e2e;
  text-align: center;
  border-radius: 2px;
  padding: 2px 0;
  margin: 0 3px;
}
